{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TodoApp</title>
    <link rel="stylesheet" href="{% static 'TodoApp/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'TodoApp/all.css' %}">
    <style> 
        body {
            height: 100vh;
        }
    </style>
</head>
<body class="bg-secondary d-flex justify-content-center align-items-center">

    
    <div class="p-5 table-warning font-weight-bold">
        <form action="{% url 'add_todo' %}" class="form" method="POST">
            {% csrf_token %}
            <p class="display-5  text-uppercase text-center">what do you want to do today ?</p>
            <div class="form-group">
                <div class="input-group">
                    {{ form.text }}
                    <div class="input-group-append">
                        <button type="submit" class="input-group-text">ADD</button>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <a href="{% url 'delete_completed' %}" class="btn btn-warning text-uppercase text-light"><i class="far fa-trash-alt fa-1x"></i>delete completed</a>
                <a href="{% url 'delete_all' %}" class="btn btn-warning text-uppercase text-light"><i class="far fa-trash-alt"></i>delete all</a>    
            </div>
        </form>
        <div class="list-group">
            {% for task in todo_list %}
                {% if task.isComplete %}
                    <del><a href="#" class="list-group-item list-group-item-action font-weight-bold disabled">{{ task.text }}</a></del>
                {% else %}
                    <a href="{% url 'complete' task.id %}" class="list-group-item list-group-item-action font-weight-bold">{{ task.text }}</a>
                {% endif %} 
            {% endfor %}
        </div>
        
    </div>
    

    <script src="{% static 'TodoApp/all.js' %}"></script>
</body>
</html>